In [4]:
import pandas as pd #library untuk memproses data
import matplotlib.pyplot as plt #library untuk visualisasi

cases = pd.read_csv("../business_intellegence/2020_ID_Region_Mobility_Report.csv")

print(cases.dtypes)
cases.describe()
cases.head()

country_region_code       object
country_region            object
sub_region_1              object
sub_region_2             float64
metro_area               float64
iso_3166_2_code           object
census_fips_code         float64
place_id                  object
date                      object
retail_and_recreation    float64
grocery_and_pharmacy     float64
parks                    float64
transit_stations         float64
workplaces                 int64
residential                int64
dtype: object

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation,grocery_and_pharmacy,parks,transit_stations,workplaces,residential
0,ID,Indonesia,NaN,NaN,NaN,NaN,NaN,ChIJtwRkSdcHTCwRhfStG-dNe-M,2020-02-15,-2.0,-2.0,-8.0,1.0,5,1
1,ID,Indonesia,NaN,NaN,NaN,NaN,NaN,ChIJtwRkSdcHTCwRhfStG-dNe-M,2020-02-16,-3.0,-3.0,-7.0,-4.0,2,2
2,ID,Indonesia,NaN,NaN,NaN,NaN,NaN,ChIJtwRkSdcHTCwRhfStG-dNe-M,2020-02-17,-3.0,-4.0,-7.0,-1.0,3,1
3,ID,Indonesia,NaN,NaN,NaN,NaN,NaN,ChIJtwRkSdcHTCwRhfStG-dNe-M,2020-02-18,-3.0,-2.0,-4.0,1.0,2,1
4,ID,Indonesia,NaN,NaN,NaN,NaN,NaN,ChIJtwRkSdcHTCwRhfStG-dNe-M,2020-02-19,-3.0,-4.0,-3.0,0.0,1,1